.container {
  background: #0B4662;
  grid-column: 1 / -1;
  display: grid;
  justify-content: center;
}

.daysUntil {
  max-width: 1400px;
  display: grid;
  justify-items: center;
  margin-block: 2.5rem;
}

.daysCounter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.daysCounter * {
  font-size: min(12vw, 15rem);
  padding: 0.25em 0.5em;
  margin: 0;
  display: grid;
  place-items: center;
  background: #ffb709;
  border-radius: 0.25em;
  font-family: MuseoSlab, sans-serif;
}

.daysUntil > h1 {
  font-size: min(4vw, 6rem);
  color: #FFFFFF;
  margin-block: 0.5em;
  font-family: MuseoSlab, sans-serif;
}

.registerButton {
  font-size: min(3.5vw, 5rem);
  text-decoration: none;
  box-sizing: border-box;
  padding: 0.5em 1.5em;
  border: 5px solid black;
  border-radius: 0.5em;
  background: #FFFFFF;
  color: #000000;
  transition: 0.25s;
  font-family: MuseoSans, serif;
}

.registerButton:hover {
  background: #dcdcdc;
}

@media (max-width: 800px) {
  .daysCounter * {
    font-size: 22vw;
  }

  .daysUntil > h1 {
    font-size: 8vw;
  }

  .registerButton {
    font-size: 7vw;
  }
}