.explore {
  grid-column: 1 / -1;
  background: #D6CEBD;
}

.container {
  width: 80%;
  max-width: 2000px;
  margin: 5rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  width: max(300px, 30%);
  display: grid;
  border: none;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1em;
  background: #030006;
  color: #FFFFFF;
}

.card * {
  margin: 0.5em;
}

.card h1 {
  font-family: MuseoSlab, sans-serif;
  font-size: 1.5rem;
}

.card p {
  font-family: MuseoSans, serif;
}

.btn {
  align-self: flex-end;
  display: inline-block;
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
  padding: 1em 2em;
  margin-inline: auto;
  font-family: "Museo Slab 500", serif;
  border: 2px solid black;
  border-radius: 0.5rem;
  background: #650812;
  transition: 0.25s;
}

.btn:hover {
  background: #E31837;
}