.wrapper {
  background: #030006;
  color: #FFFFFF;
  grid-column: 1/-1;
}

.wrapper * {
  margin: 0;
}

.container {
  width: 90%;
  margin-inline: auto;
}

.content {
  font-size: min(max(1vw, 0.75rem), 1.75rem);
  text-align: center;
  padding-block: 3em;
}

.content h5 {
  font-size: 1.5em;
  font-family: MuseoSlab, sans-serif;
}

.content p {
  font-size: 1.1em;
  font-family: MuseoSans, serif;
  padding-block: 0.5em;
}

.content p a {
  color: inherit;
  text-decoration: underline;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-block: 0.5em;
}

.icons > * {
  width: 45px;
  filter: invert(1);
}

@media (max-width: 800px) {
  .icons > * {
    width: 35px;
  }
}