.wrapper {
    background: #030006;
    color: #FFFFFF;
    grid-column: 1/-1;
}

.container {
    width: 70%;
    margin-inline: auto;
}

.content {
    font-size: 1.5em;
    text-align: center;
    padding: 3em 0;
}