.wrapper {
    width: 100%;
    height: 100%;
    background-color: #030006;
}

.opacityDiv {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    background-color: #030006;
}

.background, .text {
    grid-column: 1;
    grid-row: 1;
}

.background {
    width: 100%;
    height: 100%;
    opacity: 40%;
}

.text {
    position: relative;
    font-size: 8vw;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (orientation: landscape) {
    .text {
        font-size: 8vw;
    }
}

@media screen and (orientation: portrait) {
    .text {
        font-size: 16vw;
    }
}