.comingSoon {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    row-gap: 5%;

    width: 100%;
    height: 100%;

    background: #030006;
    color: #FFFFFF;

    font-family: Arial, serif;
    font-size: 4vw;
}

.comingSoon * {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    width: 100%;

    color: inherit;
}