.wrapper {
  display: grid;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
}

.header {
  background: #650812;
  color: #FFFFFF;
}

.main {
  background: #D6CEBD;
  padding-block: 2rem;
}

.headerContent {
  padding: 1em 2em;
  font-size: min(max(2vw, 1.3rem), 2rem);
  font-family: MuseoSlab, sans-serif;
}

.intro {
  display: grid;
  place-items: center;
  background: #dcdcdc;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 20px #030006;
}

.intro h1 {
  font-size: 2.75rem;
  margin-bottom: 0;
  font-family: MuseoSlab, sans-serif;
}

.intro p {
  font-size: 1.15rem;
  line-height: 1.5em;
  font-family: MuseoSans, serif;
}

@media (max-width: 800px) {
  .intro h1 {
    font-size: 2.25rem;
  }

  .intro p {
    font-size: 1rem;
    line-height: 1.25em;
  }
}