.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 200%;
    background: #030006;
    color: #FFFFFF;
}

.header {
    text-align: center;
    font-size: 7vw;
}

.textColumn {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.section, .year {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
}

.section {
    margin-top: 10%;
    margin-bottom: -10%;
    align-content: center;
}

.year {
    align-content: center;
}

.imageColumn {
    position: sticky;
    top: 35%;
    height: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.imageOpacity {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.logoImage {
    width: 60%;
    height: 60%;
}