.productsViewer {
    display: grid;
}

.productsViewer > h1 {
    text-align: center;
    font-family: "Museo Slab 500", serif;
    font-size: 3rem;
}

.productsDisplay {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1rem;
}

.productCard {
    height: 450px;
    border-radius: 1rem;
    background: #dcdcdc;
    color: #FFFFFF;
    box-shadow: 0 0 10px #030006;
    display: flex;
    flex-direction: column;
}

.productCardImage {
    aspect-ratio: 4/3;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
}

.productCardText {
    background: #0B4662;
    padding-inline: 1rem;
    width: 100%;
}

.productCardName {
    text-align: center;
    font-family: "Museo Slab 500", serif;
    font-size: 1.5rem;
}

.productCardDescription {
    font-family: "Museo Sans 500", sans-serif;
    font-size: 1rem;
}

.productCardPrice {
    font-size: 1.25rem;
    font-family: "Museo Slab 500", serif;
}

@media (max-width: 800px) {
    .productsDisplay {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .productCard {
        height: 350px;
    }
}