.productsDisplayTitle {
  text-align: center;
  font-family: "Museo Slab 500", serif;
  font-size: 3rem;
}

.productsDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  justify-content: center;
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding-inline: 2rem;
}

.productCard {
  border-radius: 1rem;
  background: #dcdcdc;
  box-shadow: 0 0 10px #030006;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s;
}

.productCard:hover {
  border-radius: 2rem;
}

.productCard * {
  margin: 0;
}

.productCardImage {
  aspect-ratio: 4/3;
  border-radius: 1rem 1rem 0 0;
}

.productCardText {
  padding-inline: 1rem;
  flex-grow: 1;
}

.productCardName {
  text-align: center;
  font-family: "Museo Slab 500", serif;
  font-size: 1.5rem;
  padding-block: 0.5em;
  display: grid;
  grid-template-columns: 1fr auto;
}

.productCardPrice {
  font-size: 1.75rem;
  color: #650812;
}

.productCardDescription {
  font-family: "Museo Sans 500", sans-serif;
  font-size: 1rem;
  padding-bottom: 0.5em;
}

.productCardCart {
  height: 100px;
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  align-content: end;
  padding-block: 0.5rem;
}

.productCardSizes {
  display: flex;
  gap: 0.25rem;
}

.productCardSizes > * {
  background: #030006;
  color: #FFFFFF;
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 0.25em;
  font-family: "Museo Sans 500", sans-serif;
  font-size: 0.9rem;
  display: grid;
  place-content: center;
  transition: 0.25s;
  border: 2px solid #030006;
}

.productCardSizes > *:hover, .selectedSize {
  background: #650812;
}

.productCardCart > button {
  font-size: 1rem;
  font-family: "Museo Slab 500", serif;
  padding: 0.5em 2em;
  border: 2px solid #030006;
  border-radius: 0.5em;
  background: #650812;
  color: #FFFFFF;
  transition: 0.25s;
}

.productCardCart > button:enabled:hover {
  background: #E31837;
}

.checkoutButton {
  text-align: center;
  margin-top: 3rem;
}

.checkoutButton a {
  background: #650812;
  color: #FFFFFF;
  border: 5px solid #030006;
  border-radius: 0.5em;
  text-decoration: none;
  font-family: MuseoSans, serif;
  font-size: 1.5rem;
  padding: 0.5em 3em;
  transition: 0.25s;
}

.checkoutButton a:hover {
  background: #E31837;
}